# name of the veeam backup job as set in veeam!
JOBNAME="myJobName"

# if curl is installed vee-cord check for new version if set to 0
SKIPVERSIONCHECK=0
# if you backup to a smb-share fill in your credentials to get infos about free backup space
SMBUSER=""
SMBPWD=""
# infosend: 1=always, 2=warning and error only, 3=error only
INFOSEND=1
# infoping: 1=always, 2=warning and error only, 3=error only
INFOPING=2
# User ID to get Pinged on above events, leave 0 to disable
PINGID=0
# variable sleep time if mail is not sent when started as post script
SLEEP=60
# if set to 1 get more debug output on script run
DEBUG=0

#Target Webhook URL for Discord
WEBHOOKURL="https://discord.com/api/webhooks/mychannelid/mywebhook"
# Webhook Name
WEBHOOKNAME="Veeam"
# Webhook Avatar
WEBHOOKAVATAR="https://pics.computerbase.de/7/7/5/8/4/logo-256.png"
# Webhook Thumbnail, can be set empty ("") to disable
WEBHOOKTHUMBNAIL="https://raw.githubusercontent.com/tigattack/VeeamNotify/main/asset/thumb01.png"
